
#next{
  margin-left: 0;
display: block;
}

body{
  margin : 0;
  padding : 0;
  display : flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: black;
}

.input{
  display: block;
  margin-left: 35%;
  width: 218px;
  height: 56px;
  border: 1px solid white;
  font-size: 27px;
  font-weight: lighter;
}

.box{
  position: relative;
  width : 800px;
  height: 600px;
  display : flex;
  justify-content: center;
  align-items: center;
    background: #060c21;
}

.box:before{
  position: absolute;
  top: -2px;
  right: -2px;
  left: -2px;
  bottom : -2px;
  content: '';
  background: #fff;
  z-index: -1;
}
.box:after{
  position: absolute;
  top: -2px;
  right: -2px;
  left: -2px;
  bottom : -2px;
  content: '';
  background: #fff;
  z-index: -2;
  filter: blur(40px);
}

.box:before,
.box:after{
  background: linear-gradient(235deg,#89ff00,#060c21,#00bcd4);
}


.hide{
 display: none;
}

 .customBox{
  max-width: 700px;
  background-color: #060c21;
  margin: 40px auto;
  padding: 30px;
  border-radius: 10px;
}

 .hide{
  display: none;
}

.home-box h1{
  font-size: 50px;
  color: brown;
  font-weight: 500;
  margin-bottom: 70px;
  line-height: 25px;
  font-weight: 600;
}

.home-box p{
  font-size: 22px;
  margin-bottom: 10px;
  line-height: 22px ;
  color :white;
  font-weight: 400;
}

.home-box p span{
  font-weight: 500;
}

.start-quiz {
  padding : 15px 45px;
  background-color: yellow;
  color: black;
   font-weight: 700;
  border: none;
  border-radius: 15px;
  font-family: "Montserrat",sans-serif;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    margin-left: 330px;
    margin-top : 100px;
}

.btn {
  padding : 15px 45px;
  background-color: yellow;
  color: black;
   font-weight: 700;
  border: none;
  border-radius: 15px;
  font-family: "Montserrat",sans-serif;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

.home-box .btn{
  margin-top: 20px;
}

.quiz-box .question-number{
   font-size: 30px;
   color: red;
   border-bottom: 1px solid #cccccc;
   padding-bottom: 10px;
   font-weight: 600;
   line-height: 25px;
margin-bottom: 20px
}

.quiz-box .question-text{

  color: white;
  font-weight: 400;
  line-height: 25px;
  padding: 20px 0;
margin-top: 20px;
padding-left: 10px;
border-radius: 15px;

}

.quiz-box .option-text{

}

.quiz-box .option-text .option{
  margin-top: 40px;
   background-color: #cccccc;
   padding : 15px;
   font-size: 20px;
   line-height: 25px;
   color: #000000;
   border-radius: 5px;
   margin-bottom: 0;
   cursor: pointer;
   text-transform: capitalize;
}

.quiz-box .btn{
  margin: 15px 0;

}

.quiz-box .answer-indicator{
  border-top: 1px solid #cccccc;
}

 .answers-indicator div{
   height: 40px;
   width: 40px;
   display: inline-block;
   background-color: #060c21;
   border-radius: 50%;
   margin-right: 3px;
   margin-top: 15px;
}

.result-box h1{
  font-size: 50px;
  line-height: 22px;
  color: Red;

}

.result-box table{
  width : 100%;
  border-collapse: collapse;
  margin: 30px 0;
}

.result-box table td{
  border: 1px solid #cccccc;
  padding: 10px 15px;
  font-weight: 500;
  color: white;
  width: 100%;
  font-size: 40px;
}

.result-box .btn{
margin-right: 70px;
margin-left: 70px;
}

.img{
  background-image: url("red.jfif");
}

.submit{
  margin-left: 38%;
  padding : 15px 45px;
  background-color: darkorange;
  color: black;
  border: none;
  border-radius: 15px;
  font-family: "Montserrat",sans-serif;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    margin-top: 37px;
    font-weight: bolder;
}


.emoji{
  font-size: 32px;
  background-color: white;
}

.nav-all:hover .nav-btn{
  visibility: visible;
}


.nav-btn{
  visibility: hidden;
margin: ;
margin-right: 25px;
width: 125px;
height: 41px;
font-size: 13px;
background-color: dimgrey;
border: 3px solid white;
}

.nav-all{
  font-size: 35px;
   color: white;
   margin-left: 10px;

}

.time-bar{
  color: white;
margin-left: 6%;
margin-bottom: 62%;
margin-right: 12%;
font-size: 32px;
border: 1px solid violet;
border-radius: 15px;
paddding: 301px;
padding-left: 1px;
padding: 15px;
}

.btn-list{
  margin: 0;

}

.box3{
  margin-right: 157px;
}

@media only screen and (min-width: 1345px) {
  #next{
  margin-left: 300px;
  display: inline;
  }

}

@media only screen and (width < 1180px){
  .time-bar{
    margin-bottom: 90%;
  }
}

@media only screen and (width < 960px){
  .time-bar{
    margin-bottom: 100%;
    margin-right: 1%;
  }

  .box3{
    margin-right: 0;

  }


}

@media only screen and (width < 782px){
  .time-bar{
    margin-bottom: 136%;
  }
}

@media only screen and (width < 679px){
  .time-bar{
    margin-bottom: 170%;
  }
}

@media only screen and (width < 588px){
  .time-bar{
    margin-bottom: 217%;
  }
}

@media only screen and (width < 527px){
  body{
    display: none;
    content: "Your device is too small to take this quiz!!!"
  }
}

@media only screen and (width < 649px){
  .navbar{
    margin-bottom: 576px;
  }
}

@media only screen and (width < 1088px){
  .submit{
    margin-left: 29%;
  }
}

@media only screen and (width < 960px){
  .submit{
    margin-left: 36%;
  }
}

@media only screen and (width < 862px){
  .submit{
    margin-left: 36%;
  }
}

@media only screen and (width < 826px){
  .submit{
    margin-left: 0;
  }
}

@media only screen and (width < 758px){
  .start-quiz {
    margin-left: 0;
    display: block;
    margin-top: 42px;
  }


}

.more-btn{
  background: none !important;
border: none;
padding: 0 !important;
font-family: arial, sans-serif;
color: chartreuse;
text-decoration: underline;
cursor: pointer;
font-size: 17px;
margin-bottom: 20px;
}

.time-table table tr td{
  font-size: 18px;
}
